<h2>Response</h2>
<table>
  <tr>
    <th>Param</th>
    <th>Data</th>
  </tr>
  <tr>
    <td>Status Code</td>
    <td><%= context.httpStatusCode %></td>
  </tr>
  <tr>
    <td>Headers</td>
    <td><%= JSON.stringify(context.httpHeaders) %></td>
  </tr>
  <tr>
    <td>Encoding</td>
    <td><%= context.encoding %></td>
  </tr>
</table>
