<h2>Env</h2>
<table>
  <tr>
    <th>Param</th>
    <th>Data</th>
  </tr>
  <tr>
    <td>Midgard Version</td>
    <td><%= context.package.version  %></td>
  </tr>
  <tr>
    <td>Environment</td>
    <td><%= context.midgard.env  %></td>
  </tr>
  <tr>
    <td>App Path</td>
    <td><%= context.midgard.appPath  %></td>
  </tr>
  <tr>
    <td>Midgard Path</td>
    <td><%= context.midgard.path  %></td>
  </tr>
</table>
